aiofiles==24.1.0
aiohttp==3.11.12
datasets==3.2.0
distilabel==1.5.3
huggingface_hub==0.28.1
latex2sympy2_extended==1.10.1
lighteval==0.7.0
math_verify==0.7.0
pandas==2.2.3
peft==0.14.0
setuptools==75.8.0
torch==2.5.1
tqdm==4.67.1
transformers==4.48.3
trl==0.14.0
uvloop==0.21.0
vllm==0.7.2
